:root {
    --primary-color:#fffbe5;
    --primary-varient:#e2b5b0;
    --secondary-color:#56424e;
    --secondary-varient:#f4a781;
}
body {
    background-color: var(--primary-color);
}
.title {   
    text-align: center;
    width: 100%;
    margin: 24px 0;
    font-size: 2em;
    color: var(--secondary-color);
}
.row {
    justify-content: space-around;
    margin: 20px 0;
}
.card {
    width: 20rem;
    background-color: var(--primary-varient);
    border: 2px solid var(--secondary-color);
}
.card-link {
    color: var(--secondary-color);
}
.card-link:hover {
    color: var(--secondary-color);
}
.btn {
    color: var(--secondary-color);
    background-color: var(--primary-varient);
    border: 2px solid var(--secondary-color);
    font-size: 1.5em;
    margin: 20px 0;
}
.btn:hover {
    color: var(--secondary-color);
    background-color: var(--primary-varient);
    border: 2px solid var(--secondary-color);
    font-size: 1.5em;
}
.btn:focus {
    color: var(--secondary-color);
    background-color: var(--primary-varient);
    border: 2px solid var(--secondary-color);
    font-size: 1.5em;
}